{% extends "base.html" %}

{% block title %} 403 - Blog Flask{% endblock %}

{% block content %}

<body>
    <main class="container-erro">
        <div class="cartao-erro">
            <div class="icone-alerta">!</div>
            
            <h1>Erro 404</h1>
            <h2>Acesso a Página não existente</h2>
            
            <p>Desculpe, mas essa página não foi encontrada, tente novamente ou </p>
            
            <a href="/" class="botao-retorno">Voltar para a Home</a>
        </div>
    </main>
</body>

</html>